@import "./keyframes.css";

/* Animated Logo */
.logo-path {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: reveal 0.5s ease-in-out forwards;
}
/* end */

/* Typewriter Animation */
.typewriter {
  display: flex;
  justify-content: center;
}

.typewriter p {
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(12) forwards;
}
/* End */

/* Underline Hover Animation */
.underline-hover {
  position: relative;
}

.underline-hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 5px;
  background-color: #0000ff;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  transform: translateX(-50%);
}

.underline-hover:hover::after {
  width: 100%;
  left: 50%;
}
/* End */

/* Slide Animations */
.slideDown {
  animation: slideDown 0.5s ease-out forwards;
}

.slideUp {
  animation: slideUp 0.5s ease-in forwards;
}
/* End */

/* Text Fill */
.text-fill {
  color: #03030333;
  background: linear-gradient(45deg, #030303, #030303);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textFill forwards linear;
  animation-timeline: view(y);
  animation-range: entry 70% contain 50%;
}

.text-fill-white {
  color: #ffffffb2;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textFill forwards linear;
  animation-timeline: view(y);
  animation-range: entry 70% contain 50%;
}
/* End */

/* Loop */
.loop {
  animation: loop 20s linear infinite;
}
/* End */
