@import "tailwindcss";
@import "./font.css";
@import "./animation.css";

@theme {
  /* Font */
  --font-helvetica: "HelveticaNowDisplay", sans-serif;
  --font-jetbrains: "JetBrains", monospace;

  /* Black */
  --color-black-100: #030303;
  --color-black-200: #050505;
  --color-black-300: #0f0f0f;
  --color-black-400: #101010;

  /* Blue */
  --color-blue-100: #0000ff;
  --color-blue-200: #1f6cff;
  --color-blue-300: #2a71fa;

  /* Grey */
  --color-grey-100: #d0d5dc;
  --color-grey-200: #d6dae0;
}

body {
  @apply font-helvetica;
}

/* No scrollbar */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
