@import "tailwindcss";
@import "./font.css";
@import "./animation.css";

@theme {
  /* Font */
  --font-helvetica: "HelveticaNowDisplay", sans-serif;
  --font-jetbrains: "JetBrains", monospace;

  /* Black */
  --color-black-100: #030303;
  --color-black-200: #050505;
  --color-black-300: #0f0f0f;
  --color-black-400: #101010;

  /* Blue */
  --color-blue-100: #0000ff;
  --color-blue-200: #1f6cff;
  --color-blue-300: #2a71fa;
  --color-blue-400: #8fa6c7;
  --color-blue-500: #dfe7ff;

  /* Grey */
  --color-grey-100: #d0d5dc;
  --color-grey-200: #d6dae0;
  --color-grey-300: #f8f8f9;

  /* Screen */
  --breakpoint-xl: 85rem;
  --breakpoint-3xl: 108rem;
}

body {
  @apply font-helvetica;
}

/* Footer Bg */
.footer-bg {
  background-image: url("../../public/assets/png/footer-bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* No scrollbar */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
